
@import "normalize";
@import "reset";
@import "variables";

@import "global";
@import "dropdown";
@import "coins";

@import "coinglobal";
@import "portfolio";
@import "top";

*{
	margin:0;
box-sizing:border-box;

}



.super-container{
	display: grid;
	grid-template-columns: 6% 1fr 1fr 1fr 1fr;
	//grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background: #1b2235;
	height: 100vh;
color: white;
min-height: 721px;
	background: $primary-gradient;
	background: #1b2337;
}

.sidebar{
	background: $black;
}

.coins{
	grid-column: 2/5;
}


.top{
		
	color: $dark-text;
//grid-row: 2/5;
    grid-column: 1/3;
}
.portfolio-super{
	background: $white;
	margin: 3%;
grid-column: 3/6;
	display: grid;

grid-template-rows: auto 1fr;
//	grid-row: 2/6;
}
	//.global-list-item>h3.global-item-num+h3.global-item-num


//dropdown xxxxxxxxx

.dropdown-tool{
	opacity: 0;
	pointer-events: none;
		transition: 0.2s;
transform: translateY(-20px)
}

.dropdown-divider {
	width: 100%;
	height: 1px;
	background: #e6e6e6;
}

.dropdown-tool_active{
	opacity: 1;
	pointer-events: all;
	transform: translateY(20px);
border-radius: 5px;
	transition: 0.2s ease-out;
		background:
white;

padding: 5%;

margin: 5%;
}

.dropdown-item {
	color: gray;
	padding: 2%;
	margin: 4%;
}

//general
.section-title{
	font-weight: 600;
	
}


//sidebar
.sidebar{
	display: flex;
	flex-direction: row;
	display: flex;
flex-direction: row;
align-items: start;
justify-content: center;
};


//media queries

 @media only screen and (max-width: 800px) {

	 .super-container{
		 grid-template-columns: 1fr;
		 
	 }
	 
	 .sidebar{
		 flex-direction: column;
		 grid-row: 1;
			 
	 }
.coins{
	grid-column: 1;
}
	 
	 .global{
		 grid-column: 1;
		 
			 
	 }
	 
	 .top{
		 grid-column: 1;
	 }
	 
	 .portfolio-super{
		 grid-column: 1;
	 }
	 
	 
	 






}